<h4 class="text-center">Login</h4>

<form class="form mt-4" (ngSubmit)="login()">
  <div class="form-group">
    <input
      class="form-control"
      placeholder="Nome do usuário"
      [(ngModel)]="usuario"
      name="usuario"
      #campoUsuario="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoUsuario.invalid"
      mensagem="Usuário obrigatório"
    ></app-mensagem>
  </div>

  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      [(ngModel)]="senha"
      name="senha"
      #campoSenha="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoSenha.invalid"
      mensagem="Senha obrigatória"
    ></app-mensagem>
  </div>

  <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>
